.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media  #{$media-desktop, $media-big-desktop, $media-hd-screen}{
    align-items: flex-end;
  }

  font-family: $font-alt;
  line-height: $base-line-height;
  .logo-box{
    margin-top: 13px;
    margin-bottom: 18px;
    margin-right: 9px;
    .images-box{
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 49px;
      margin-bottom: 8px;
    }
    h4{
      font-size: $header-title-font-size;
      font-weight: 300;
      text-align: center;
      span{
        font-weight: 800;
      }
    }

    p{
      font-size: $header-subtitle-font-size;
      text-align: right;
    }
  }

  .burger-box{
    .burger-icon{
     font-size: 2em;
    }
    ul{
      background:$background-color-base;
      margin-top: 0.5em;
      flex-direction: column;
      z-index: 3;
      position: absolute;
      bottom: -290px;
      @media #{$media-tablet} {
        bottom: -290px;
        max-width: 250px;
      }
      right: 0;
      max-width: 200px;
      li{
        margin: 0.5em 0.7em;
      }
    }
  }


  ul{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 23px;
    @media #{$media-big-desktop, $media-hd-screen} {
      font-size: $header-nav-font-size;
    }
    @media #{$media-tablet} {
      font-size: $header-nav-font-size * 0.8;
    }
    font-size: $header-nav-font-size * 0.7;
    li{
      margin-left: 30px;
      font-weight: 500;
      &:hover{
        cursor: pointer;
      }
    }
  }
}