$font-base:'Quicksand', sans-serif;
$font-alt:'Lato', sans-serif;

$header-nav-font-size:24px;
$header-title-font-size:43px;
$header-subtitle-font-size:18px;

$form-title-font-size:24px;
$form-input-font-size:17px;
$form-info-font-size:13px;

$contact-section-title-font-size:52px;
$contact-section-subtitle-font-size:30px;

$order-section-title-font-size:63px;
$order-section-subtitle-font-size:34px;
$order-section-paragraph-font-size:17px;

$footer-headers-font-size:20px;
$footer-text-font-size:16px;