$media-extraSmall:'(max-width:575px)';
$media-phone:'(min-width:576px) and (max-width:767px)';
$media-tablet: '(min-width:768px) and (max-width:992px)';
$media-desktop: '(min-width:993px) and (max-width:1300px)';
$media-big-desktop:'(min-width:1301px) and (max-width:1600px)';
$media-hd-screen:'(min-width:1601px)'