@mixin button ($paddingTop,$paddingRight , $paddingBottom, $paddingLeft){
  background:$button-background-color;
  font-size:$button-font-size ;
  @include font-for-media($button-font-size);
  @include line-heights-for-media(21px);
  text-align: center;
  font-weight: 700;
  padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
  border: none;
  border-radius: 10px;
  color: $color-font-second;

  &:hover{
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}